<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Crazy Carts.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>824E018A2606A41E003C7BB2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>824E019D2606A41F003C7BB2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>824E01A82606A41F003C7BB2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
